@model OnlineBanking.Data.ViewModels.AccountViewModels.PaymentViewModel

@{
    ViewBag.Title = "Dashboard";
}

<div id="account-dashboard">
    <h2 class="page-heading">Overview of Accounts</h2>
    <br />
    <br />

    <section id="current-accounts-section-container account-section">
        <div class="row">
            <div class="col-md-12">
                <div class="account-item">
                    <div class="account-item-details">
                        <h4 class="account-name-text">Current Account</h4>
                        <div class="spacer"></div>
                        <small>Available Balance</small>
                        <h4 class="account-balance-text">£252.90</h4>
                        <div class="spacer"></div>
                        <small>Current Balance</small>
                        <h4 class="account-balance-text">£252.90</h4>
                        <div class="spacer"></div>
                        <div class="account-cta-btn">
                            <button type="button" class="btn btn-main" data-toggle="modal" data-target="#CurrentAccountPaymentModal">Make Payment</button>
                        </div>
                        <div class="spacer"></div>
                        <div class="account-cta-btn">
                            <a href="/account/currentaccount" class="btn btn-main">View Account</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-block">
                            <span class="card-account">
                                Current Account
                            </span>
                        </div>
                        <div class="card-number">
                            <p>5459 xxxx xxxx 7203</p>
                        </div>
                        <div class="bottom-block">
                            <div class="card-details">
                                <div>20965422 00-00-00</div>
                                <div class="card-name">
                                    MR JULIEN SMITH
                                </div>
                            </div>
                            <div class='card-icon'>
                                <span class='circle-left'>
                                    <i class="icon-circle icon-3x "></i>
                                </span>
                                <i class="icon-circle icon-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <!-- Current Account Payment Modal -->
        <div id="CurrentAccountPaymentModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Make a Payment</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-warning">
                            <strong>Warning!</strong>
                            <div class="spacer"></div>
                            <p>Be aware of scams. Make sure that you are supply the correct details to pay this person.</p>
                        </div>
                        <div class="payment-form-container">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-group">
                                    <label>Name</label>
                                    <p>Enter the name of the person you would like to pay</p>
                                    @Html.EditorFor(model => model.Payment.RecipientName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Recipient Name" } })
                                    @Html.ValidationMessageFor(model => model.Payment.RecipientName, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <label>Surname</label>
                                    <p>Ente rthe surname of the person you would like to pay</p>
                                    @Html.EditorFor(model => model.Payment.RecipientSurname, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Recipient Surname" } })
                                    @Html.ValidationMessageFor(model => model.Payment.RecipientSurname, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <label>Payment Reference</label>
                                    <p>Optional - a payment reference so the ricipient knows about the payment</p>
                                    @Html.EditorFor(model => model.Payment.PaymentReference, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Payment Reference" } })
                                </div>

                                <div class="form-group">
                                    <label>Recipient Account No</label>
                                    <p>Enter the ricipient account number to send an amount to</p>
                                    @Html.EditorFor(model => model.Payment.RecipientAccountNo, new { htmlAttributes = new { @class = "form-control", @type = "number", @placeholder = "Enter Recipient Account No" } })
                                    @Html.ValidationMessageFor(model => model.Payment.RecipientAccountNo, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <label>Payment Amount</label>
                                    <p>Enter the amount to send</p>
                                    @Html.EditorFor(model => model.Payment.PaymentAmount, new { htmlAttributes = new { @class = "form-control", @type = "number", @placeholder = "Enter Amount" } })
                                    @Html.ValidationMessageFor(model => model.Payment.PaymentAmount, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <input type="submit" value="Make Payment" class="btn btn-main" />
                                </div>
                            }
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-main" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div class="spacer"></div>

    <section id="current-accounts-section-container account-section" style="display:none;">
        <div class="row">
            <div class="col-md-12">
                <div class="account-item">
                    <div class="account-item-details">
                        <h4 class="account-name-text">Credit Account</h4>
                        <div class="spacer"></div>
                        <small>Credit Limit</small>
                        <h4 class="account-balance-text">£6000.00</h4>
                        <div class="spacer"></div>
                        <div class="spacer"></div>
                        <small>Available Balance</small>
                        <h4 class="account-balance-text">£5500.00</h4>
                        <div class="spacer"></div>
                        <small>Current Balance</small>
                        <h4 class="account-balance-text">£500.00</h4>
                        <div class="spacer"></div>
                        <div class="account-cta-btn">
                            <button class="btn btn-main">View Account</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top-block">
                            <span class="card-account">
                                Credit Account
                            </span>
                        </div>
                        <div class="card-number">
                            <p>5459 xxxx xxxx 7203</p>
                        </div>
                        <div class="bottom-block">
                            <div class="card-details">
                                <div>20965422 00-00-00</div>
                                <div class="card-name">
                                    MR JULIEN SMITH
                                </div>
                            </div>
                            <div class='card-icon'>
                                <span class='circle-left'>
                                    <i class="icon-circle icon-3x "></i>
                                </span>
                                <i class="icon-circle icon-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

